* {box-sizing:border-box}

body {
    color: grey;
    font-family: "shango-regular-webfont.woff", "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    background-color: #FAFAFA;
    margin: 0;
    overflow-x: hidden;
    max-width: 1000px;
  }
  
  main {
    /*margin-left: 160px;*/
    width: 90%;
    max-width: 1080px;
  }

  
  h1 {
    font-size: 1.3em;
    display: block;
    font-family:  "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 1px;
    display: block;
    color: white;
    font-weight: bold;
    background-color: violet;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 150px;
    margin-bottom: 5px;
    cursor: grab;
  }

h1 a {
    text-decoration: none;
    color: white;
}



/*images


.mySlides {
    width: 400px;
float: center;
padding-left: 20%;
}*/




/*footer*/

#footer {
    bottom: 0;
    color: rgb(0, 195, 255);
    font-size: 0.7em;
    bottom: 0;
    padding-left: 3%;
    position: fixed;
    display: block;
    padding-bottom: 29px;
    z-index: 4;
}



/*TEST FOR TREE LIST*/
    /* Remove hyperlink lines */

  
#myUL {
  margin-left: 30px;
  padding: 0;
    margin-top: 0%;    
    margin-bottom: 0%;   
    z-index: 4;
  }
/* Remove default bullets */

ul, #myUL {
      margin-left: 30px;
      list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;    
    margin-top: 0%;    
    z-index: 4;

    }

    ul,  {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        }

    ul a {
        text-decoration: none;
        color: white;
        float: left;
    }

li {

        font-family:  "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: inline-block;
        padding-bottom: 4px;
        padding-top: 4px;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        text-align: left;
        padding-right: 10px;
        padding-left: 10px;
        background-color: lightgray;
        margin-bottom: 5px;
        width: max-content;

}


li a{
    text-decoration: none;

  }

.nested {
    display: none;

  }
  .nested li {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color:violet;
  }

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: white;
    display: none;
   /* display: none;  // do this if you don't want the space*/
    margin-right: 5px;
    
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
  }

.nested .about {
    background-color: rgb(250 250 250/ 50%);
    color: black;
    z-index: 999;
    border-color: rgb(250 250 250/ 50%);
    width: 60%;
    padding-right: 30%;
    padding-bottom: 30%;
    z-index: 3;
    padding-top: 5px;
    left: 0;
  }

  .nested .about a {
    color: black;
    font-weight: bold;
  }

/*galleries in section pages */

  .img-gallery {
    width: 700px;
    margin-left: 35%;
    position: absolute;
    margin-right: 0;
    border-right: 0px;
    top: 25px;
    display: inline-block;
  }
    
    .img-gallery img {
       width: 700px;
       padding-bottom: 5%;
    }

/* next click gallery */

/* Slideshow container */
.slideshow-container {
  
  width: 700px;
  margin-left: 35%;
  position: absolute;
  top: 25px;
  margin-right: 0;
  border-right: 0px;
}

.container {
    display: inline-block;
}


/* Next & previous buttons */
.prev, .next {
  cursor: grab;
  position: absolute;
  bottom: 0.3%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Next & previous buttons */
.prev {
    padding-right: 200px;
    padding-top: 610px;
    padding-left: 4px;
    background-color:rgba(255, 217, 0 /0%);
  }
/* Position the "next button" to the right 
WHY NOT WORKING?*/
.next {
    left: 30%;
    padding-left: 200px;
    padding-top: 610px;
    padding-right: 4px;
    background-color:rgba(255, 217, 0 /0%);


}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    cursor: grab;
    background-color:rgba(255, 217, 0 /0%);

}




#img-gallery-portrait {
  width: 500px;
}

#img-gallery-portrait img {
  width: 500px;
}



/*media queries*/
@media only screen and (max-width: 768px) {


  .img-gallery {
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-left: 3%;
    padding-bottom: 5%;
    margin-right: 0;
    margin-top: 160px;
  }
    .img-gallery img {
       padding-bottom: 2%;
       width: 100%;
       padding-right: 3%; 
       margin: auto; 
    }

    #img-gallery-portrait {
      width: 100%;
    }
    
    #img-gallery-portrait img {
      width: 100%;
    }
    
   
        footer {
            padding-top: 10px;
            right: 0;
            padding-right: 3%; 
            z-index: 4;
            display: block;
            padding-bottom: 10px;

        }

                /*playing about*/

        .slideshow-container, .container {
            top: -10%;
            width: 170%;
            margin-left: -1%;
            margin-right: -1%;
            padding: 5;
            z-index: -1;
        }


        

        .nested .about {
            width: 500px;
            padding-bottom: 36%;
            padding-top: 3%;
            background-color: rgb(250 250 250/ 70%);
            z-index: 3;
        }
    

      }
        @media only screen and (max-width: 430px) {

          body {
            max-width: 88%;
            margin: 0px;
          }

     h1 {
        display: block;
        font-size: 1.6em;
        width: 50%;
        padding-right: 50%;
         margin-top: 3%;
         margin-left: 3%;
        /*margin: auto;  */ 
        /*text-align: center;*/
     }

       li {
            display: block;
            z-index: 2;
            /*margin: auto;  */ 
            margin-top: 3px;
        }


        ul {
            display: block;
            z-index: 2;
            /*margin: auto;  */ 
        }
        #footer {
            display: block;
            z-index: 999;
            bottom: 0px;
            left: 0;
        }

        html {
          box-sizing: border-box;
        }

        .img-gallery {
          margin-top: 45%;
        }

        .slideshow-container, .container {
          top: 5%;
          z-index: -1;
          display: block;
          position: fixed;
          width: 160%; /* or a specific width */ 
          padding: 0; /* remove padding */ 
          margin: 0 auto;
          margin-left: 1%;
          margin-right: auto;
          box-sizing: border-box; 
      }


        /* Next & previous buttons */
  .prev, .next {
    width: 1%;
    bottom: 0.3%;
    color: white;
    font-size: 20px;
  }
  
  

/*
      .mySlides fade {
        margin: 0;
      }
    
    
      .img-gallery {
        top: 22.5%;
        z-index: 1;
      }

*/

  

.nested .about {
    width: 100%;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(250 250 250/ 70%);
    z-index: 999;
    } 

  }


.fade-item {
  transition: 1s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.4s 1;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


$total-items: 7;


li {
  position: relative;
  display: block;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}


@for $i from 1 through $total-items {
  .fade-item:nth-child(#{$i}) {
    animation-delay: 0s * $i;
  }
} 




